In [2]:
# Import the libraries

import numpy as np
import pandas as pd
from sklearn import metrics
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix,accuracy_score

# Loading the dataset
df = pd.read_csv("cleaned_dataset.csv")
df.head()

   total_confirmed  total_deceased  total_recovered  total_tested  population
0            82044            3014            31493        569380    63864405
1            24206             559              517         16268     2862427
2            62051            2048              517         16268    43053054
3                0               0              517         16268       55312
4             5383              75              517         16268       77142

In [3]:
df.dtypes

total_confirmed    int64
total_deceased     int64
total_recovered    int64
total_tested       int64
population         int64
dtype: object

In [16]:
#Training, fitting and prediction

X = df[['total_deceased']]
y = df['total_recovered']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=109)


logistic_regression= LogisticRegression()
logistic_regression.fit(X_train,y_train)
y_pred=logistic_regression.predict(X_test)


print('Accuracy: ',metrics.accuracy_score(y_test, y_pred)*100)

Accuracy:  80.64516129032258

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)